h1{
  color: white;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
}

textarea, input{
  color: white
}

button {
  background: transparent;
  border: 0;
  color: white;
}
button:hover{
  font-size: larger;
  cursor: pointer;
}

.header{
  display:flex; 
  flex-direction: row;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 75%;
  background-color: black;
  justify-content: space-between;
}

h2{
  padding: 10px;
  padding-left: 15px;
  margin: 0;
  color: black;
  background-color: white;
}

.episode-image{
  width: 75%;
}

ul {
  list-style-type: none;
  padding-top: 10px;
  background-color: black;
}

.track_artist {

  text-transform: uppercase;
  font-weight: bold;
}

li {
  background-color: black;
  padding-bottom: 22px;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.track_details {
  padding-right: 30px;
  white-space: nowrap;
  overflow-x: scroll;
}

.site_links {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.get_details {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  text-decoration: none;
}

.get_details:hover {
  cursor:pointer;
  color: orange;
  font-weight: bolder;
 }

.youtube img{
  width: 40px;
  height: auto
}

.bandcamp img{
  width: 40px;
  height: auto
}

.discogs img{
  border-radius: 10px;
  width: 40px;
  height: auto
}